h1 {
    color: rgb(225, 166, 236);
    text-align: center;
    margin-top: 40px;
}



/* Estilos personalizados */
.top {
    margin-top: 10px;
}

.btn-primary {
    background-color: #a251ee;
    border-color: #b884d6;
}

.table-bordered {
    border: 5px solid #fc02d2;
}

.table-hover tbody tr:hover {
    background-color: #db1ccb;
}

.pagination {
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline-block;
    margin: 0 2px;
}

.pagination li a {
    color: #337ab7;
    padding: 6px 12px;
    border: 1px solid #b64aad;
    text-decoration: none;
}

.pagination li.active a {
    background-color: #eb8bdb;
}