.topo{
    padding-top:5px;
    background-color: #0e74db;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:30px;
    background-color:#0e74db;
    font-size:12px;
    text-align:center;
}

.header{
    text-align:center;
    background-color:#df1ccf;
	padding-top: 10px;
	padding-bottom: 100px;
}




/* Estilos para los enlaces */
.table a {
    text-decoration:none ;
    color: rgb(240, 49, 208);
}

.table a:hover {
    color: red;
}