h1 {
    color: rgb(12, 124, 91);
    text-align: center;
    margin-top: 40px;
}
.top {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #85e2ac;
}

.btn-primary:hover {
    background-color: #26dbb4;
    color: #ffffff;
}

.table-bordered {
    border: 5px solid #31d4b1;
}

.table-hover tbody tr:hover {
background-color: #1fac8d;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #097777;
    border-top: 5px solid #15b48d;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #51756c;
    text-decoration: none;
    background-color: #c22626;
    border: 1px solid #4317e4;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #20e79b;
    background-color: #eee;
    border-color: #ddd;
}
