/* Estilos para el formulario de búsqueda */
.pull-right.top {
    margin-top: 10px;
}

/* Estilos para la tabla */
.table-bordered {
    border: 5px solid #0906d4;
}

.table-hover tbody tr:hover {
    background-color: #2d66e2;
}

/* Estilos para la paginación */
.pagination {
    margin-top: 20px;
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
}

.pagination li a {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #e9e76e;
    color: #fa63cd;
}

.pagination li.active a {
    background-color: #eeb4e4;
    color: #5135ec;
    border: 1px solid #0a06f3;
}

/* Estilos para el botón "Adicionar" */
.btn-primary.pull-left {
    background-color: #5e98ee;
    margin-bottom: 10px;
}

/* Estilos para el input de búsqueda y el botón de búsqueda */
.form-control {
    background-color: #041e36;
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
}

.btn-primary {
    margin-left: 5px;
    background-color: #0e60da;
}